.carousel-item {
    height: 700px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
        width: 100%;
        max-width: 100%;
    }
}

.carousel-multi-item-2 .card img {
    border-radius: 2px;
}

:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

section {
    padding: 100px 0;
}

th, td {
    text-align: center;
}

@media (max-width: 767px) {
    .display-1 {
        font-size: 48px;
    }

    .display-4 {
        font-size: 30px;
    }

    body {
        font-size: 10px;
    }

    .lead {
        font-size: 12px;
    }

    .plans-responsive {
        font-size: 8px;
    }

    table {
        overflow-x: scroll;
    }

    .btn-table {
        font-size: 10px;
    }

    .table-responsive::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .table-responsive::-webkit-scrollbar:vertical {
        width: 12px;
    }

    .table-responsive::-webkit-scrollbar:horizontal {
        height: 12px;
    }

    .table-responsive::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        border: 2px solid #ffffff;
    }

    .table-responsive::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #ffffff;
    }
}

@media (min-width: 768px) {
    .plans-responsive {
        font-size: 12px;
    }
}
